{% extends 'base.html.twig' %}

{% block title %}
todo: Afficher le titre de la serie | {{ parent() }}
{% endblock %}

{% block body %}
<h2>Todo: afficher le titre de la serie</h2>

    {# Afficher toute les infos de la serie #}
{% endblock %}

